# ETL Extract raw notebook

In [2]:
# import statements
import pandas as pd
import numpy as np

load dataset

In [3]:
df = pd.read_csv("../data/raw/earthquake_data_tsunami.csv")

check feature types

In [4]:
df.dtypes

magnitude    float64
cdi            int64
mmi            int64
sig            int64
nst            int64
dmin         float64
gap          float64
depth        float64
latitude     float64
longitude    float64
Year           int64
Month          int64
tsunami        int64
dtype: object

check for missing values

In [5]:
df.isna().any()

magnitude    False
cdi          False
mmi          False
sig          False
nst          False
dmin         False
gap          False
depth        False
latitude     False
longitude    False
Year         False
Month        False
tsunami      False
dtype: bool

check feature value ranges

In [8]:
[[col, np.min(df[col]), np.max(df[col])] for col in df]

[['magnitude', 6.5, 9.1],
 ['cdi', 0, 9],
 ['mmi', 1, 9],
 ['sig', 650, 2910],
 ['nst', 0, 934],
 ['dmin', 0.0, 17.654],
 ['gap', 0.0, 239.0],
 ['depth', 2.7, 670.81],
 ['latitude', -61.8484, 71.6312],
 ['longitude', -179.968, 179.662],
 ['Year', 2001, 2022],
 ['Month', 1, 12],
 ['tsunami', 0, 1]]

cdi = 0 could be a missing value and could have meaning or simply missing. A potential for investigation

Check column names

In [26]:
df.columns

Index(['magnitude', 'cdi', 'mmi', 'sig', 'nst', 'dmin', 'gap', 'depth',
       'latitude', 'longitude', 'Year', 'Month', 'tsunami'],
      dtype='object')

Check 0 value in coordinates. None found.

In [ ]:
(df["latitude"] == 0).any()

False

In [ ]:
(df["longitude"] == 0).any()

False

## describe

In [10]:
df.describe(include="all")

,magnitude,cdi,mmi,sig,nst,dmin,gap,depth,latitude,longitude,Year,Month,tsunami
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000
mean,6.941125,4.333760,5.964194,870.108696,230.250639,1.325757,25.038990,75.883199,3.538100,52.609199,2012.280051,6.563939,0.388747
std,0.445514,3.169939,1.462724,322.465367,250.188177,2.218805,24.225067,137.277078,27.303429,117.898886,6.099439,3.507866,0.487778
min,6.500000,0.000000,1.000000,650.000000,0.000000,0.000000,0.000000,2.700000,-61.848400,-179.968000,2001.000000,1.000000,0.000000
25%,6.600000,0.000000,5.000000,691.000000,0.000000,0.000000,14.625000,14.000000,-14.595600,-71.668050,2007.000000,3.250000,0.000000
50%,6.800000,5.000000,6.000000,754.000000,140.000000,0.000000,20.000000,26.295000,-2.572500,109.426000,2013.000000,7.000000,0.000000
75%,7.100000,7.000000,7.000000,909.750000,445.000000,1.863000,30.000000,49.750000,24.654500,148.941000,2017.000000,10.000000,1.000000
max,9.100000,9.000000,9.000000,2910.000000,934.000000,17.654000,239.000000,670.810000,71.631200,179.662000,2022.000000,12.000000,1.000000

CDI, NST: More than 25% of the values are 0. Dmin: More than 50% of the values are 0. We could consider binning and or imputation.

In [11]:
df.skew()

magnitude    1.444440
cdi         -0.197310
mmi         -0.250403
sig          3.083629
nst          0.533307
dmin         2.604580
gap          4.668607
depth        3.024869
latitude     0.200853
longitude   -0.702982
Year        -0.192450
Month       -0.067928
tsunami      0.457333
dtype: float64

In [12]:
df.kurtosis()

magnitude     2.226391
cdi          -1.357753
mmi          -0.224592
sig          12.000754
nst          -1.092793
dmin          9.283367
gap          32.027722
depth         8.384480
latitude     -0.476740
longitude    -1.088383
Year         -1.042840
Month        -1.299853
tsunami      -1.795445
dtype: float64